
body{
    background-image:url("../images/imageZombiesVsPlants.jpg");
    background-size: cover;
    /*background-size: contain;*/
   background-repeat: no-repeat;
    background-attachment: fixed;
}

#newUserButton {
  background-image: url('../images/signup_passive.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:150px;
  height:100px;
  border-style:none;
}

#newUserButton:hover {
  background-image: url('../images/signup_active.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:150px;
  height:100px;
    border-style:none;
    cursor: pointer;
}

#joinUserButton {
  background-image: url('../images/signin_passive.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:150px;
  height:100px;
  border-style:none;
}

#joinUserButton:hover {
  background-image: url('../images/signin_active.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:150px;
  height:100px;
    border-style:none;
    cursor: pointer;
}


#loginButton{
   background-image: url('../images/submit_passive.png');
  background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
 }
 #loginButton:hover{
   background-image: url('../images/submit_active.png');
  background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
 }

#signupButton{
  background-image: url('../images/submit_passive.png');
 background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:110px;
  height:90px;
}
 #signupButton:hover{
   background-image: url('../images/submit_active.png');
  background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
   cursor: pointer;
 }

#newgame{
   background-image: url('../images/newgame_passive.png');
 background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
}

#newgame:hover{
   background-image: url('../images/newgame_active.png');
 background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
   cursor: pointer;
}

#logoutButton{
background-image: url('../images/logout_passive.png');
 background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
}

#logoutButton:hover{
background-image: url('../images/logout_active.png');
 background-size: cover;
   background-size: contain;
   background-repeat: no-repeat;
   width:110px;
   height:90px;
   cursor: pointer;
}

#zombieLabel{
background-image:url('../images/zombie_selection.jpg');
background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:80px;
  height:80px;
}
#plantLabel{
background-image:url('../images/plant_selection.jpg');
background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width:80px;
  height:80px;
}


table {
    border: 2px black;
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
}


tr {
    border: 2px black;
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
}

th {
    border: 1px solid black;
    text-align: center;
}
td {
    border: 1px solid black;
    text-align: center;
}
.login{
    border: 0.5px solid black;
    width: 50%;

    }
.ul-table{
    margin-left: 20%;
}

h1, h2, h3, h4, th, label, input, td{
 font-family:"Indie Flower";
 text-align: center;
 color:white;
}

li{
 font-family:"Indie Flower";
 color:white;
 font-size:22px;
 list-style-type:none;
}

a{
 color:orange;
 font-size:22px;
 list-style-type:none;
}


#gameList{
   background-image:url('../images/bg.png');
   background-repeat: repeat;
   margin-top:20px;

}
#containerAll{
   background-image:url('../images/bg.png');
   background-repeat: repeat;
}

#myForm{
    margin-top: 15px;
}