<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAMES</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="css/scores.css">
    <link rel="stylesheet" href="css/alertify.core.css" />
</head>

<body>
<div id="app">

  <!-- start title-->
    <div class="title" style="text-align: center; display:none"  id="welcome" >
        <img src="images/plantvszombie_mindhub.png" alt="Cinque Terre" width="650" height="450">

<!-- START LOGGIN OR JOIN UP USER WITH IMAGEN-->
      <div class="container">
        <div class="row justify-content-md-center ">
          <div class="col-md-auto" id="newUserButton"></div>
          <div class="col-md-auto" id="joinUserButton"></div>
        </div>
      </div>
<!-- FINISH LOGGIN OR JOIN UP USER-->
    </div>

    <div class="title" style="text-align: center" id="title"> <!--title id hide-->
        <h1> ARE YOU READY FOR THE BATTLE?? </h1>
        <h2> Welcome to Salvo Game or : </h2>
        <h3> PLANTS VS ZOMBIES: EPIC BATTLE</h3>

    </div>

  <!-- finish title-->




<!-- validation forms-->
  <div class="container" id="myForm">
      <div class="row justify-content-center " style="text-align: center" >
        <div class="col-sm-4">
          <form class="table table-hover text-centered"  style="text-align: center">

  <!-- FORM FOR USERNAME AND PASSWORD -->
            <div class="form-group" id="usernameForm" style="display: none">
              <input type="text" class="form-control" id="writeUserName" placeholder="Enter username"  name="UsernAme">
            </div>
            <div class="form-group"id="passwordForm" style="display: none">
              <input type="password" class="form-control" id="writePassword" placeholder="Enter password" name="Password">
            </div>
  <!-- FINISH FORM USER  AND PASSWORD-->

  <!-- START PLAYERSIDE -->
            <div class="container" id="playerSide">
              <h4> select player side:</h4>
              <div class="row justify-content-center ">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="zombie" name="groupOfDefaultRadios" value="ZOMBIES" >
                  <label class="custom-control-label" for="zombie" id="zombieLabel"> </label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="plants" name="groupOfDefaultRadios" value="PLANTS" checked >
                  <label class="custom-control-label" for="plants" id="plantLabel"></label>
                </div>
              </div>
            </div>
  <!-- FINISH PLAYERSIDE-->

<!-- START BUTTON LOGIN AND SINGUP -->
            <div class="container">
              <div class="row justify-content-md-center ">
                <div class="col-md-auto" id="loginButton" style="display: none"></div>
                <div class="col-md-auto" id="signupButton" style="display: none"></div>
              </div>
            </div>
<!-- FINISH BUTTON LOGIN AND SINGUP -->
          </form>
        </div>
      </div>
      </div>

  <div class="row justify-content-md-center" id="welcomePlayer" style="display: none">
    <!-- buttons of new and logout -->
    <div class="col-auto" id="newgame" style="display: none"></div>
    <div class="col-auto" id="logoutButton" style="display: none"></div>
    <!-- finish buttons of new and logout -->
  </div> <!--finish div row-->

  <!-- START THE GAME LIST -->
    <div  class="container" id="gameList" style="display:none; width:650px " >
        <div style="">
          <h1> Hi {{playerWelcome}}, your team is {{user.side}} </h1>
          <h4>GAMES IN PROGRESS</h4>

          <ul class="ul-table w-65  mx-auto" >
              <li v-for="game of games"
                  v-if="game.gamePlayers[1] && game.gamePlayers[0].player.id==myPlayerId">
                  <a :href='"http://localhost:8080/web/game.html?gp="+game.gamePlayers[0].id'>
                    GAME # {{game.id}}: {{game.gamePlayers[0].player.username}} vs {{game.gamePlayers[1].player.username}}
                  </a>
              </li>

              <li v-else-if="game.gamePlayers[1] && game.gamePlayers[1].player.id==myPlayerId">
                  <a :href='"http://localhost:8080/web/game.html?gp="+game.gamePlayers[1].id'>
                    GAME # {{game.id}}: {{game.gamePlayers[0].player.username}} vs {{game.gamePlayers[1].player.username}}
                  </a>
              </li>

              <li v-else-if="game.gamePlayers[1]">
                GAME # {{game.id}}: {{game.gamePlayers[0].player.username}} vs {{game.gamePlayers[1].player.username}}
              </li>

              <li v-else-if="game.gamePlayers[0].player.id==myPlayerId">
                  <a :href='"http://localhost:8080/web/game.html?gp="+game.gamePlayers[0].id'>
                    GAME # {{game.id}}: {{game.gamePlayers[0].player.username}} wants to fight
                  </a>
              </li>

              <li v-else-if="game.gamePlayers.length < 2 && game.gamePlayers[0].player.id != myPlayerId ">
                          GAME #{{game.id}} : {{game.gamePlayers[0].player.username}} wants to fight
                <button class="joinGame" type="button" :data-joinGpId="game.id" :id="'joinGame'+game.id" style="display: none">join</button>
                        </li>
          </ul>
        </div>


<!-- FINISH THE GAME LIST -->

 <!-- START TABLE SCORE -->
      <div id="tableScore" style="display:none">
      <h4>CHECK THE SCORE BELOW</h4>
      <table class="table table-hover table-sm w-50 mx-auto">
        <thead class="thead-dark">
          <tr class="bg-info">
              <th>PLAYER NAME</th>
              <th>GL </th>
              <th>GT </th>
              <th>GW </th>
              <th>SCORE </th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="info of dataObjectsOfPlayers">
                <td class="bg-info">{{info.userName}}</td>
                <td class="bg-info">{{info.lost}}</td>
                <td class="bg-info">{{info.tied}}</td>
                <td class="bg-info">{{info.win}}</td>
                <td class="bg-info">{{info.points}}</td>
            </tr>
        </tbody>
      </table>
    </div>
<!-- FINISH TABLE SCORE -->
    </div>
</div>


<script src="scripts/alertify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="scripts/functionFetch.js"></script>
<script src="scripts/games.js"></script>
<script src="scripts/loggin.js"></script>
</body>
</html>